<div hello-bot ng-show="start1">		
<!-- MD & GT-MD -->
	<div hide-xs hide-sm layout="row" layout-padding layout-align="start end">
		<!-- IMAGE -->
			<div ng-show="start1" bot-img>
				<img ng-src="http://i1244.photobucket.com/albums/gg565/MisaelMVM/Maya-avatar-lg_zpsi3pco4d6.jpg">
			</div>
		<!-- TEXT -->
			<div class="md-body-1" layout="column" layout-padding layout-align="end start">
				<span ng-show="start1">
					Hello there, Good Morning! I hope you are having a great day &#x1f60b;
				</span>
				<span ng-show="start2">
					Today I will be helping you to set up your Near account.
				</span>
				<span ng-show="start3">
					What is your name?
				</span>
			</div>
	</div>
<!-- XS & SM -->
	<div hide-gt-sm layout="row"  layout-align="start end">
		<!-- IMAGE -->
			<div ng-show="start1">
				<img ng-src="http://i1244.photobucket.com/albums/gg565/MisaelMVM/Maya-avatar-lg_zpsi3pco4d6.jpg">
			</div>
		<!-- TEXT -->
			<div class="md-body-1" layout="column" layout-padding layout-align="end start">
				<span ng-show="start1">
					Hello there, Good Morning! I hope you are having a great day &#x1f60b;
				</span>
				<span ng-show="start2">
					Today I will be helping you to set up your Near account.
				</span>
				<span ng-show="start3">
					What is your name?
				</span>
			</div>
	</div> 
</div>